/* first slider */
.swiper {
  width: 100%;
  position: relative;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  margin-bottom: 40px;
}
.main-content .swiper-pagination-bullet {
  background: none;
  border: 1px solid #fff;
}
.main-content .swiper-pagination-bullet-active {
  border: 5px solid #fff;
}
.promo-swiper-left-arrow {
  position: absolute;
  top: 186px;
  left: 23px;
  z-index: 1;
}
.promo-swiper-right-arrow {
  position: absolute;
  top: 186px;
  right: 23px;
  z-index: 1;
}
/* second slider */
.popular-products-slider {
  width: 100%;
  margin-bottom: 86px;
}
.popular-products-slider .wrapper {
  flex-direction: column;
  position: relative;
}

.products-slider {
  width: 100%;
  margin-bottom: 35px;
}
.products-slider {
  width: 100%;
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  width: 100%;
}
.product-cart {
  width: 100%;
  height: 403px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 3px;
  position: relative;
  padding: 52px 31px 31px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.promo-swiper-left {
  position: absolute;
  top: 187px;
  left: -35px;
  cursor: pointer;
}

.promo-swiper-right {
  position: absolute;
  top: 187px;
  right: -35px;
  cursor: pointer;
}

.products-slider__button-like {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 19px;
  background-image: url("../assets/img/like2.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 34px;
  cursor: pointer;
}
.products-slider__button-like:active {
  background-image: url("../assets/img/bluelike.svg");
}
.products-slider__button-basket {
  border: none;
  border-top-left-radius: 10px;
  padding: 10px 16px 7.5px 14px;
  background-color: #1c62cd;
  position: absolute;
  bottom: 0;
  right: 0;
}
.products-slide__sale {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 15px 8px 15px;
  background-color: #1c62cd;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}
.products-slider__img {
  height: 200px;
  width: 200px;
  margin-bottom: 14px;
  transition: 0.3s;
  border: 2px dashed transparent;
}
.product-cart:hover .products-slider__img {
  border: 2px dashed #cdcdcd;
}
.products-slider__info {
  text-align: center;
  height: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.products-slider__price {
  margin-top: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.non-proce {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.products-slider__link {
  color: #1c62cd;
  text-decoration: underline;
}
.products-slide__info-img {
  transition: 0.3s;
  opacity: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 24px;
  color: #2f3035;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  text-align: center;
  position: absolute;
  top: 122px;
  left: 20px;
  right: 20px;
}
.product-cart:hover .products-slide__info-img {
  opacity: 0.9;
}
.swiper-pagination {
}
.second-left {
  position: absolute;
  top: 187px;
  left: -50px;
  cursor: pointer;
}
.second-right {
  position: absolute;
  top: 187px;
  right: -50px;
  cursor: pointer;
}
.popular-products-slider__btn-link {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 43px 15px 43px;
  background-color: #f0f0f4;
}
