@media (max-width: 1350px) {
  .promo-swiper-left {
    left: 20px;
    z-index: 999;
  }
  .promo-swiper-right {
    right: 20px;
    z-index: 999;
  }
  .second-left {
    left: 0px;
    z-index: 999;
  }
  .second-right {
    right: 0px;
    z-index: 999;
  }
  .bottom-footer-section .second-footer-section__bottom-link:first-child {
    margin-left: 0;
  }
  .catalog__list-li {
    width: 46%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 10px 30px 10px;
  }
  .place-time .wrapper {
    justify-content: center;
    gap: 55px;
  }
  .place-time__date {
    gap: 40px;
  }
  .operating-mode {
    margin-left: 200px;
  }
  .bottom-menu__headings {
    display: none;
  }
  .bottom-menu__operating-mode-additionally-info {
    margin-left: 108px;
  }
  .second-operating-mode-additionally-info {
    margin-left: 91.4px;
  }
  .third-operating-mode-additionally-info {
    margin-left: 128px;
  }
  .fourth-operating-mode-additionally-info {
    margin-left: 95px;
  }
  .available {
    margin-left: 145px;
  }
  .bottom-menu__available-additionally-info {
    margin-left: 115px;
  }
  .quantity {
    margin-left: 118px;
  }
  .bottom-menu .wrapper {
  }
  .bottom-menu__btn-additionally-info {
    padding: 10px 21px 9px 20px;
    background-color: #1c62cd;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    margin-left: 50px;
  }
  .bottom-menu__additionally-info::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 140px;
    width: 76%;
    height: 1px;
    background-color: #2f3035;
    opacity: 0.1;
  }
  .bottom-menu__additionally-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
  }
  .info-characteristics__left-purchase {
    gap: 0;
  }
}
@media (max-width: 1180px) {
  .main-content {
    width: 100%;
    max-width: 100%;
  }

  .promo-section .wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .sale-content {
    width: 100%;
    max-width: 400px;
  }
  .sale-content__img {
    position: absolute;
    top: 67px;

    right: 20px;
    left: 0;
    margin: auto;
  }
  .products__ul-li {
    width: 100%;
    max-width: 48%;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
  }

  .discounts-on-spares__heading {
    text-align: left;
    padding: 28px 0;
    margin-left: 444px;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
  }
  .discounts-on-spares__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #2f3035;
    text-align: center;
    background-color: #fff;
    padding: 7px 30px 8px 30px;
  }

  .promo-swiper-left-arrow {
    display: none;
  }
  .promo-swiper-right-arrow {
    display: none;
  }

  .catalog__list {
    padding: 0 20px;
  }
  .left-purchase__heading {
    width: 100%;
    max-width: 550px;
    font-size: 25px;
    line-height: 30px;
  }
  .photo__right-purchase {
    width: 100%;
    margin-bottom: 5px;
  }
  .place-time__date-selection {
    white-space: nowrap;
  }
  .left__info-characteristics {
    width: 250px;
  }
  .info-characteristic__right-purchase::before {
    left: -100px;
    width: 140%;
  }
  .info-characteristic__right-purchase {
    width: 150px;
  }
  .left-purchase {
    max-width: 500px;
  }
  .menu-section__link {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1060px) {
  .discounts-on-spares__link {
    margin-left: 0;
    margin-right: 30px;
  }
}
@media (max-width: 960px) {
  .header-burger {
    display: initial;
  }
  .top-header__second-logo-link {
    display: initial;
  }
  .top-header__logo-link {
    display: none;
  }
  .top-header__address {
    display: none;
  }
  .top-header__nav {
    display: none;
  }
  .top-header__img {
    gap: 15px;
  }

  .bottom-header .wrapper {
    padding: 0;
  }
  .bottom-header__nav {
    justify-content: space-around;
  }
  .header-burger__input:checked + .burger {
    width: 300px;
    height: 100%;
    display: initial;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .burger-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .burger__btn-img {
    width: 20px;
    height: 20px;
  }
  .burger__btn {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 10px;
  }
  .burger-list__li {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    position: relative;
  }
  .not-img {
    margin-left: 32px;
    position: relative;
  }

  .burger-list__li::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 0.1px;
    bottom: -1px;
    left: -100px;
    background-color: #95969e;
  }
  .burger-list__li-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    margin-bottom: -3px;
  }
  .burger-info {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2f3035;
    margin-top: 70px;
    margin-left: 40px;
  }
  .bottom-header__nav-link {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 0 13px 0;
    position: relative;
  }
  .promo-section .wrapper {
    margin-top: -50px;
  }
  .discounts-on-spares .wrapper {
    background-position: bottom 5px left 21px, bottom 7px right 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .discounts-on-spares__heading {
    width: 100%;
    text-align: center;
    padding: 0px;
    padding-bottom: 10px;
    margin-left: 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    margin-right: 0;
  }
  .discounts-on-spares__link {
    margin-left: 0;
    margin-right: 0;
  }
  .discounts-on-spares__link {
    font-size: 16px;
    line-height: 25px;
  }
  .top-footer-section .wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .first-footer-section {
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .first-footer-section__info {
    width: 100%;
    max-width: 220px;
  }
  .second-footer-section {
    display: none;
  }
  .second-footer-section__nmb-two {
    width: 100%;
    display: initial;
    padding: 20px 0 5px 0;
    margin-top: -2px;
    position: relative;
  }

  .second-footer-section__nmb-two ::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 2px;
    background-color: #d9d9d9;
  }
  .second-footer-section__nmb-two ::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 2px;
    background-color: #d9d9d9;
  }
  .second-footer-section__nmb-two-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7f7f7f;
    letter-spacing: 0.05em;
  }
  .second-footer-section__top-nmb-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .second-footer-section__nmb-two-input {
    display: none;
  }
  .second-footer-section__nmb-two-input:checked
    + .second-footer-section__bottom-nmb-two {
    height: 50px;
    padding: 30px 0 20px 0;
  }
  .second-footer-section__bottom-nmb-two {
    display: flex;
    height: 0px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    transition: 1s;
  }
  .second-footer-section__bottom-nmb-two-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7f7f7f;
    letter-spacing: 0.05em;
  }
  .third-footer-section {
    display: none;
  }
  .fourth-footer-section {
    width: 100%;
    margin-top: 50px;
  }
  .fourth-footer-section__socials-links {
    justify-content: center;
  }
  .bottom-footer-section .wrapper {
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .bottom-footer-section {
    margin-top: 30px;
  }
  .catalog-section__breadcrumbs {
    margin-bottom: 20px;
  }
  .catalog-section-list {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
    position: relative;
  }
  .catalog-section-list__input {
    background-image: url("../assets/img/twoarrows.svg");
    background-position: center left 10px;
    padding-left: 40px;
    margin-right: 0;
  }
  .catalog-section-list__input:focus {
    outline: auto;
  }
  .catalog-section-list__popular-input {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  .catalog-section-list__popular-input::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 2px;
    background-color: #d9d9d9;
  }
  .catalog-section-list__popular-input::before {
    content: "";
    position: absolute;
    bottom: 45px;
    left: -20px;
    width: calc(100% + 40px);
    height: 1.5px;
    background-color: #d9d9d9;
  }
  .catalog-section-list__input {
    border: none;
  }
  .catalog-section-list__input {
    font-weight: 700;
  }
  .filter {
    display: none;
  }
  .purchase {
    display: none;
  }
  .purchase-2 {
    display: initial;
  }
  .purchase-2 .wrapper {
    align-items: center;
    justify-content: center;
  }
  .left-purchase {
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
  }
  .grade__left-purchase {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 30px;
  }
  .sale__purchase {
    display: none;
  }
  .photo__right-purchase {
    margin-top: 0px;
  }
  .reduce-price___right-purchase {
    margin-bottom: 20px;
  }
  .left-purchase__btn-buy {
    margin: 0 auto;
  }
  .menu-section .wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    background: none;
    gap: 35px;
  }
  .menu-section__link {
    font-size: 20px;
    line-height: 24px;
  }
  .active {
    font-weight: 700;
  }
  .active::before {
    display: none;
  }
  .place-time .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .place-time__shop {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .place-time__date {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .place-time__date-label {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0;
    position: relative;
  }
  .place-time__date-label::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2f3035;
    opacity: 0.1;
  }
  .place-time__label {
    width: 100%;
  }
  .place-time__input {
    width: 100%;
  }
  .bottom-menu {
    display: none;
  }
  .place-time {
    margin-bottom: 40px;
  }
  .bottom-menu-2 {
    width: 100%;
    display: initial;
  }
  .bottom-menu-2 .wrapper {
  }
  .first-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .first-address__left-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    position: relative;
  }

  .right-heading {
    width: 140px;

    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.7;
  }
  .first-address__operating-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .first-address__bottom-operating-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 5px;
  }
  .first-address__bottom-operating-mode-weekdays {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.7;
  }
  .weekdays-time {
    width: 140px;
  }
  .first-address__bottom-operating-mode-day-off {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2f3035;
    opacity: 0.7;
  }
  .day-off-time {
    width: 140px;
  }
  .first-address__btn-link {
    width: 100%;
    font-family: "ProximaNova", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    background-color: #1c62cd;
    color: #fff;
    padding: 17px 0 15px 0;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
  }
  .first-address__btn-link::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: 2px;
    background-color: #2f3035;
    opacity: 0.1;
  }
  .first-address__label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
  }
  .first-address__input {
    display: none;
  }
  .first-address__label-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1c62cd;
    text-decoration: underline;
  }
  .place-time__shop-form {
    width: 100%;
  }
}
@media (max-width: 788px) {
  .bottom-header__nav {
    display: none;
  }
  .promo-section .wrapper {
    margin-top: -70px;
  }
  .bottom-popular-products {
    gap: 20px;
  }
  .bottom-popular-products__link {
    font-size: 11px;
    line-height: 15px;
  }
  .popular-products .wrapper {
    gap: 10px;
  }
  .popular-products__heading {
    font-size: 20px;
    line-height: 25px;
  }
  .top-additional-products__heading {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .top-additional-products {
    margin-bottom: 20px;
  }
  .top-additional-products__links {
    width: 450px;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .top-additional-products__link {
    font-size: 11px;
    line-height: 15px;
  }
  .products {
    margin-bottom: 50px;
  }

  .products__ul-li {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
  }

  .search {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .first-footer-section__btn-input {
    width: 100%;
  }
  .first-footer-section__search-string {
    max-width: 100%;
    padding: 12px;
  }
  .first-footer-section__search-button {
    padding: 12px 16px;
  }
  .first-footer-section__info {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 19px;
    line-height: 20px;
  }
  .top-search__label-radio {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 20px;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    width: 100%;
  }
  .catalog__list-li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 10px 30px 10px;
  }
  .catalog-section-list__link {
    padding: 4px 24px 4px 20px;
    font-size: 12px;
    line-height: 13px;
    white-space: nowrap;
  }
  .catalog-section-list__links {
    width: 100%;
    overflow-x: auto;
  }
  .catalog__list-li-img {
    width: 100%;
  }
  .sidebar-catalog {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .pages {
    width: 100%;
    margin-bottom: 50px;
  }
}
